{% extends 'base.html.twig' %}

{% block title %}Libros index{% endblock %}

{% block body %}
    <h1>Libros index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Año de publicación</th>
                <th>Autor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.anioPublicacion }}</td>
                <td>{{ libro.autor }}</td>
                <td>
                    <a href="{{ path('app_libros_show', {'id': libro.id}) }}"class="btn btn-primary">Ver detalle de libros</a>
                    <a href="{{ path('app_libros_edit', {'id': libro.id}) }}"class="btn btn-success">editar</a>
                     {{ include('libros/_delete_form.html.twig')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_libros_new')}}" class="btn btn-primary">Registrar nuevo libro</a>
    <a href="{{ path('app_login')}}" class="btn btn-primary">Cerrar sesión</a>

{% endblock %}
